@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/*
****************
* GLOBAL RESET *
****************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
***************
* GENERAL APP *
***************
*/

.main {
  min-height: calc(100vh - 150px);
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
  position: relative;
}

.scroll {
  position: fixed;
  right: 1%;
  bottom: 2%;
  z-index: 1000;
  font-size: 3rem;
  color: white;
  rotate: 90;
  transform: rotate(90deg);
}

/*
**************
* NAVIGATION *
**************
*/

.navContainer {
  position: sticky;
  top: 0;
  z-index: 10001;
  margin-bottom: 1rem;
}

.nav {
  background-color: black;
  min-height: fit-content;
}

.nav > ul {
  margin: 0;
}

.nav > ul > li {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem;
  color: white;
}

/*
********
* MAIN *
********
*/

.welcomeheader {
  margin: 2rem;
  color: white;
  min-width: 30rem;
  max-width: 35rem;
}

.parag {
  margin: 2rem;
  color: white;
  min-width: 20rem;
  max-width: 25rem;
}

/*
*********************
* LISTING COUNTRIES *
*********************
*/

.countrylisting {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
  padding: 2rem 4rem;
  background-color: rgba(245, 245, 245, 60%);
  width: fit-content;
  margin: 2rem auto;
  border-radius: 7px;
}

.bi-heart-fill {
  color: red;
}

.bi-heart:hover {
  color: red;
}

/*
***************
* COUNTRYCARD *
***************
*/

.countrybox {
  margin: 2rem;
}

.fav {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.flag {
  width: 100px;
  position: absolute;
  top: -20px;
  right: -40px;
  border: 1px grey solid;
  z-index: 100;
}

/*
******************
* SINGLE COUNTRY *
******************
*/

.loading {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin: 5rem auto;
}

.country {
  width: 80vw;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  color: white;
  background: rgba(128, 128, 128, 70%);
  border-radius: 10px;
}

.countryname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftpanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countryinfo {
  display: flex;
}

.infolist {
  list-style-type: none;
}

.infolist > li {
  margin-top: 1rem;
}

.bigflag {
  width: 20vw;
}

.coatofarms {
  width: 10vw;
  margin-top: 2rem;
}

/*
**********
* FOOTER *
**********
*/

.footer {
  font-size: small;
  text-align: center;
}

.copy {
  color: white;
}
