/*
****************
* GLOBAL RESET *
****************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
***************
* GENERAL APP *
***************
*/

.main {
  min-height: calc(100vh - 150px);
}

/*
**********
* FOOTER *
**********
*/

.footer {
  font-size: small;
  text-align: center;
}
