/*
****************
* GLOBAL RESET *
****************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
***************
* GENERAL APP *
***************
*/

.main {
  min-height: calc(100vh - 120px);
}

a {
  color: white;
  text-decoration: none;
}

/*
**************
* NAVIGATION *
**************
*/

.nav {
  min-height: 60px;
}

.nav > ul > li {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem;
  color: white;
}

/*
********
* MAIN *
********
*/

.welcomeheader {
  margin: 2rem;
  color: white;
  max-width: 35vw;
}

.parag {
  margin: 2rem;
  color: white;
  max-width: 35vw;
}

/*
*************
* COUNTRIES *
*************
*/

.countrylisting {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/*
***************
* COUNTRYCARD *
***************
*/

.flag {
  width: 100px;
  position: absolute;
  top: -20px;
  right: -20px;
  border: 1px grey solid;
}

/*
******************
* SINGLE COUNTRY *
******************
*/

.loading {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin: 5rem auto;
}

.country {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  color: white;
  background: rgba(128, 128, 128, 70%);
  border-radius: 10px;
}

.countryname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countryinfo {
  display: flex;
}

.infolist {
  list-style-type: none;
}

.infolist > li {
  margin-top: 1rem;
}

.bigflag {
  width: 20vw;
  margin-right: 3vw;
}

/*
**********
* FOOTER *
**********
*/

.footer {
  font-size: small;
  text-align: center;
}

.copy {
  color: white;
}
